{% extends 'base.html.twig' %}

{% block title %}Detail souhait{% endblock %}

{% block content %}
<h1>Detail souhait</h1>
<div class="row mt-5">
    <h2>{{wish.title}}</h2>
    <i> {{wish.dateCreated|date("Y-m-d H:i")}} </i>
    <p>
        {{wish.description}}
    </p>
    <span>
        {{wish.author}}
    </span>

</div>
{% endblock %}
