{% extends 'base.html.twig' %}

{% block title %}Detail souhait{% endblock %}

{% block content %}
<h1>Detail souhait</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque voluptatem autem explicabo, eveniet perferendis quae necessitatibus quod blanditiis tempora cumque. Repellendus ea et ad facere, nesciunt amet esse consequatur.</p>
{% endblock %}
