{% extends 'base.html.twig' %}

{% block title %}Liste souhait{% endblock %}

{% block content %}
<h1>Liste des souhait</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minus ea eius nulla soluta perferendis itaque doloremque tempora natus cum? Unde quia doloribus debitis similique nemo quis at pariatur incidunt.</p>
{% endblock %}
