{% extends 'base.html.twig' %}

{% block title %}Liste souhait{% endblock %}

{% block content %}
    <div class="row mt-5">
        <h1>Liste des souhait</h1>
        {% for wish in wishes %}
            <li> 
                <a href="{{path("app_wish_detail",{'id':wish.id})}}">
                    {{wish.id}} )-> <b>{{wish.title}}</b> <i>{{wish.category.name}}</i>
                </a>
            </li>
        {% endfor %}
    </div>

{% endblock %}
